{% extends "base.html" %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

            <!-- shop-details-area -->
            <section class="shop-details-area pt-100 pb-100">
                <div class="container">
                    <div class="row mb-95">
                        <div class="col-xl-7 col-lg-6">
                            <div class="shop-details-nav-wrap">
                                <div class="shop-details-nav">
                                    {% for image in product.get_thumbnail_images %}
                                    <div class="shop-nav-item">
                                        <img src="{{ image.image.url }}" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="shop-details-img-wrap">
                                <div class="shop-details-active">
                                    
                                    <div class="shop-details-img">
                                        <a href="" class="popup-image"><img src="{{product.get_main_image.image.url}}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                            <div class="shop-details-content">
                                <span class="stock-info">In Stock</span>
                                <h2>{{ product.name }}</h2>
                                <div class="shop-details-review">
                                </div>
                                <div class="shop-details-price">
                                    <h2>{{ product.price }} <del>${{ product.price }}</del></h2>
                                </div>
                                <p>{{ product.description }}</p>
                                <div class="product-details-size mb-40">
                                    <span>Size : </span>
                                    <ul>
                                        {% for size in product.size.all%}
                                        <li><a href="#">{{ size }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="perched-info">
                                    <div class="cart-plus">
                                        <form action="#">
                                            <div class="cart-plus-minus">
                                                <input type="text" value="1">
                                            </div>
                                        </form>
                                    </div>
                                    <a href="{% url 'carts:cart_add' product.id %}" class="btn add-card-btn">ADD TO CART</a>
                                </div>
                                <div class="shop-details-bottom">
                                    <h5><a href="{% url 'wishlists:wishlist_add' product.id %}"><i class="far fa-heart"></i> Add To Wishlist</a></h5>
                                    <ul>
                                        <li>
                                            <span>Tag : </span>
                                            {% for tag in tags %}
                                            <a href="{% url 'products:product_list_tag' tag.id %}">{{ tag }}</a>
                                            {% endfor %}
                                        </li>
                                        <li>
                                            {% for category in product.category.all %}
                                            <span>CATEGORIES :</span>
                                            <a href="#">{{ category }}</a>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="product-reviews-wrap">
                                <div class="deal-day-top">
                                    <div class="deal-day-title">
                                        <h4 class="title">Product Reviews</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        {% for review in reviews %}
                                        <div class="product-review-list blog-comment">
                                            <ul>
                                                <li>
                                                    <div class="single-comment">
                                                        {% if review.user.image %} 
                                                        <img style="width: 72px; height: 72px" src="{{ review.user.image.url }}" alt="img">
                                                        {% else %} 
                                                        <img style="width: 72px; height: 72px"  src= "{% static 'img/icon/default_avatar.jpg' %} ">
                                                        {% endif %}
                                                        <div class="comment-text">
                                                            <div class="comment-avatar-info">
                                                                <h5>{{ review.user.first_name }} {{ review.user.last_name }} <span class="comment-date"> {{ review.date_add }}</span></h5>
                                                            </div>
                                                            <p>{{ review.text }}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="product-review-form">
                                            <form action="{% url 'products:review' product.id %}" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="form-grp">
                                                    <label for="{{ form.text.id_for_label }}">YOUR REVIEW *</label>
                                                    {{ form.text }}
                                                </div>
                                                <button class="btn">SUBMIT</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}