{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <h2>Smart Shop</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Catalog</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- shop-area -->
            <div class="shop-area gray-bg pt-100 pb-100">
                <div class="custom-container-two">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 order-2 order-lg-0">
                            <aside class="shop-sidebar">
                                <div class="widget shop-widget mb-30">
                                    <div class="shop-widget-title">
                                        <h6 class="title">Product Categories</h6>
                                    </div>
                                    <div class="shop-cat-list">
                                        <ul>
                                            {% for category in categories %}
                                            <li><a href="{% url 'products:product_list_category' category.id %}">{{ category.name }}</a><span>{{ category.get_product_count }}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget shop-widget mb-30">
                                    <div class="shop-widget-title">
                                        <h6 class="title">Filter By Price</h6>
                                    </div>
                                    <form method="get" action="{% url 'products:product_list' %}">
                                        {{ price_filter_form.as_p }}
                                        <button type="submit">Apply Filter</button>
                                    </form>
                                </div>
                                <div class="widget shop-widget mb-30">
                                    <div class="shop-widget-title">
                                        <h6 class="title">Product Brand</h6>
                                    </div>
                                    <div class="sidebar-brand-list">
                                        <ul>
                                            {% for brand in brands %}
                                            <li><a href="{% url 'products:product_list_brand' brand.id %}">{{ brand.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="shop-sidebar-size">
                                        <div class="shop-widget-title">
                                            <h6 class="title">Size</h6>
                                        </div>
                                        <div class="shop-size-list">
                                            <ul>
                                                {% for size in sizes %}
                                                    {% if size.cloth_size %}
                                                        <li><a href="{% url 'products:product_list_size' size.id %}">{{ size.cloth_size }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                            <div class="row">
                                
                                {% for product in page_obj %}
                                <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
                                    <div class="exclusive-item exclusive-item-three text-center mb-50">
                                        <div class="exclusive-item-thumb">
                                            <a href="{% url 'products:detail' product.id %}">
                                                <img style="width: 327px; height: 358px" src="{{ product.get_main_image.image.url }}" alt="">
                                            </a>
                                            <ul class="action">
                                                <li><a href="{% url 'wishlists:wishlist_add' product.id %}"><i class="flaticon-heart"></i></a></li>
                                                <li><a href="{% url 'carts:cart_add' product.id %}"><i class="flaticon-supermarket"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="exclusive-item-content">
                                            <h5><a href="shop-details.html">{{ product.name }}</a></h5>
                                            <div class="exclusive--item--price">
                                                <span class="new-price">{{ product.price }} $</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="pagination-wrap">
                                <ul>
                                    {% if page_obj.has_previous %}
                                        <li class="prev"><a href="?page=1"><i class="fas fa-long-arrow-alt-left"></i> First</a></li>
                                        <li class="prev"><a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-long-arrow-alt-left"></i> Prev</a></li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                        <li{% if page_obj.number == i %} class="active"{% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="next"><a href="?page={{ page_obj.next_page_number }}">Next <i class="fas fa-long-arrow-alt-right"></i></a></li>
                                        <li class="next"><a href="?page={{ page_obj.paginator.num_pages }}">Last <i class="fas fa-long-arrow-alt-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
