{% extends "base.html" %}
{% load static %}

{% block content %}
            <section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'img/bg/breadcrumb_bg.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <h2>Shopping Cart</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- shop-cart-area -->
            <section class="shop-cart-area wishlist-area pt-100 pb-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="table-responsive-xl">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail"></th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">QUANTITY</th>
                                            <th class="product-subtotal">SUBTOTAL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart in cart_products %}
                                        <tr>
                                            <td class="product-thumbnail"><a href="{% url 'carts:cart_remove' cart.id %}" class="wishlist-remove"><i class="flaticon-cancel-1"></i></a><a href="shop-details.html"><img style="width: 170px; height: 178px" src="{{ cart.product.get_main_image.image.url }}" alt=""></a>
                                            </td>
                                            <td class="product-name">
                                                <h4><a href="shop-details.html">{{ cart.product.name }}</a></h4>
                                                <p>{{ cart.product.description }}</p>
                                            </td>
                                            <td class="product-price">$ {{ cart.product.price }}</td>
                                            <td class="product-quantity">
                                                <div class="cart-plus">
                                                    <form action="#">
                                                        <div class="cart-plus-minus">
                                                            <input type="text" value="{{ cart.quantity }}">
                                                        </div>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="product-subtotal"><span>$ {{ cart.subtotal_sum }}</span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <aside class="shop-cart-sidebar">
                                <div class="shop-cart-widget">
                                    <h6 class="title">Cart Totals</h6>
                                    <form action="{% url 'orders:order-create' %}">
                                        <ul>
                                            <li><span>SUBTOTAL</span> {{ total_sum }}</li>
                                            <li class="cart-total-amount"><span>TOTAL</span> <span class="amount">{{ total_sum }}</span></li>
                                        </ul>
                                        <button class="btn">PROCEED TO CHECKOUT</button>
                                    </form>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
            <!-- shop-cart-area-end -->

            <!-- core-features -->
            <section class="core-features-area core-features-style-two">
                <div class="container">
                    <div class="core-features-border">
                        <div class="row justify-content-center">
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="core-features-item mb-50">
                                    <div class="core-features-icon">
                                        <img src="{% static 'img/icon/core_features01.png' %}" alt="">
                                    </div>
                                    <div class="core-features-content">
                                        <h6>Free Shipping On Over $ 50</h6>
                                        <span>Agricultural mean crops livestock</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="core-features-item mb-50">
                                    <div class="core-features-icon">
                                        <img src="{% static 'img/icon/core_features02.png' %}" alt="">
                                    </div>
                                    <div class="core-features-content">
                                        <h6>Membership Discount</h6>
                                        <span>Only MemberAgricultural livestock</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="core-features-item mb-50">
                                    <div class="core-features-icon">
                                        <img src="{% static 'img/icon/core_features03.png' %}" alt="">
                                    </div>
                                    <div class="core-features-content">
                                        <h6>Money Return</h6>
                                        <span>30 days money back guarantee</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="core-features-item mb-50">
                                    <div class="core-features-icon">
                                        <img src="{% static 'img/icon/core_features04.png' %}" alt="">
                                    </div>
                                    <div class="core-features-content">
                                        <h6>Online Support</h6>
                                        <span>30 days money back guarantee</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}